#preso,
.slide {
    width:  90vw; /*1280px !important;*/
    height: 100vh; /*800px !important;*/
    font-size: 1.5em;
}

pre.highlight{
  font-size: 0.9em;
  margin: 0px;
}

.content {
  font-family: 'Ubuntu';
}

.results{
  font-size: 2em;
}

.highlight .language-shell {
  color: white;
  background-color: black;
}
